### 1. How to get rows/index names in Pandas dataframe

### 2. How to get column names in Pandas dataframe

1. How to get rows/index names in Pandas dataframe

        a. Simply iterate over indices
        
        b. Using rows with dataframe object
        
        c. index.values method returns an array of index
        
        d. Using tolist() method with values with given the list of index
        
        e. Count number of rows in dataframe
        
        
2. How to get column names in Pandas dataframe         
        
        a. Simply iterating over columns
        
        b. Using columns with dataframe object
        
        c. column.values method returs an array of index
        
        d. Using tolist() method with values with given the list of columns
        
        e. Using sorted() method

In [1]:
# Import pandas package
import pandas as pd

In [2]:
# making data frame

url = "C:/Users/deepusuresh/Documents/Data Science/01. Python/3. PANDAS/3. Rows and Columns"
data = pd.read_csv("nba.csv")

In [4]:
# calling head() method   
# storing in new variable

data_top = data.head(10)

In [5]:
data_top

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

<h3 style="color:green" align="left"> 1. How to get rows/index names in Pandas dataframe </h3>

<h3 style="color:blue" align="left"> a. Simply iterate over indices </h3>

In [6]:
# iterating the columns

for row in data_top.index:
    print(row, end = " ")

0 1 2 3 4 5 6 7 8 9

<h3 style="color:blue" align="left"> b. Using rows with dataframe object </h3>

In [7]:
list(data_top.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

<h3 style="color:blue" align="left"> c. index.values method returns an array of index </h3>

In [9]:
list(data_top.index.values)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

<h3 style="color:blue" align="left"> d. Using tolist() method with values with given the list of index </h3>

In [10]:
list(data_top.index.values.tolist())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

<h3 style="color:blue" align="blue"> e. Count number of rows in dataframe </h3>

In [11]:
# iterate the indices and print each one

for row in data.index: 
    print(row, end= " ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457

In [12]:
row_count = 0
  
# iterating over indices

for col in data.index: 
    row_count += 1
  
# print the row count 
print(row_count)

458

<h3 style="color:green" align="left"> 2. How to get column names in Pandas dataframe </h3>

<h3 style="color:blue" align="left"> a. Simply iterating over columns </h3>

In [13]:
# iterating the columns

for col in data.columns:
    print(col)

Name
Team
Number
Position
Age
Height
Weight
College
Salary

<h3 style="color:blue" align="left"> b. Using columns with dataframe object </h3>

In [14]:
list(data.columns)

['Name',
 'Team',
 'Number',
 'Position',
 'Age',
 'Height',
 'Weight',
 'College',
 'Salary']

<h3 style="color:blue" align="left"> c. column.values method returs an array of index </h3>

In [15]:
list(data.columns.values)

['Name',
 'Team',
 'Number',
 'Position',
 'Age',
 'Height',
 'Weight',
 'College',
 'Salary']

<h3 style="color:blue" align="left"> d. Using tolist() method with values with given the list of columns </h3>

In [16]:
list(data.columns.values.tolist())

['Name',
 'Team',
 'Number',
 'Position',
 'Age',
 'Height',
 'Weight',
 'College',
 'Salary']

<h3 style="color:blue" align="left"> e. Using sorted() method </h3>

In [17]:
# using sorted() method

sorted(data)

['Age',
 'College',
 'Height',
 'Name',
 'Number',
 'Position',
 'Salary',
 'Team',
 'Weight']