https://www.geeksforgeeks.org/capitalize-first-letter-of-a-column-in-pandas-dataframe/?ref=rp

### Capitalize first letter of a column

Capitalize first letter of a column:

        1. Capitalize
        
        2. Using lambda with capitalize() method

In [2]:
# importing pandas as pd 
import pandas as pd

In [3]:
# creating a dataframe 
df = pd.DataFrame({'A': ['john', 'bODAY', 'minA', 'Peter', 'nicky'], 
                  'B': ['masters', 'graduate', 'graduate', 
                                   'Masters', 'Graduate'], 
                  'C': [27, 23, 21, 23, 24]}) 
   
df

       A         B   C
0   john   masters  27
1  bODAY  graduate  23
2   minA  graduate  21
3  Peter   Masters  23
4  nicky  Graduate  24

<h3 style="color:green" align="left"> Capitalize first letter of a column </h3>

<h3 style="color:blue" align="left"> 1. Capitalize </h3>

In [4]:
df['A'] = df['A'].str.capitalize() 
df

       A         B   C
0   John   masters  27
1  Boday  graduate  23
2   Mina  graduate  21
3  Peter   Masters  23
4  Nicky  Graduate  24

<h3 style="color:blue" align="left"> 2. Using lambda with capitalize() method </h3>

In [5]:
df['A'].apply(lambda x: x.capitalize())

0     John
1    Boday
2     Mina
3    Peter
4    Nicky
Name: A, dtype: object