<h2 style="color:blue" align="center"> Missing Values : K NEAREST NEIGHBORS (KNN Imputer) </h2>

-------------------------------------------------------------------------------------------------------------------------------

In [2]:
import pandas as pd

In [3]:
url = "C:/Users/deepusuresh/Documents/Data Science/10. Missing Values/3. Techniques to Handle Missing Data/3. KNN Imputer"

df = pd.read_csv("KNN imputer.csv")
df

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3        1  1000
1  100002000.0   197.0   LEXINGTON            N            3      1.5    --
2  100003000.0     NaN   LEXINGTON            N          NaN        1   850
3  100004000.0   201.0    BERKELEY           12            1      NaN   700
4          NaN   203.0    BERKELEY            Y            3        2  1600
5  100006000.0   207.0    BERKELEY            Y          NaN        1   800
6  100007000.0     NaN  WASHINGTON          NaN            2   HURLEY   950
7  100008000.0   213.0     TREMONT            Y            1        1   NaN
8  100009000.0   215.0     TREMONT            Y           na        2  1800

In [4]:
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [5]:
from sklearn.impute import KNNImputer

ImportError: cannot import name 'KNNImputer' from 'sklearn.impute' (C:\Users\deepusuresh\Anaconda3\lib\site-packages\sklearn\impute.py)

In [3]:
imputer = KNNImputer(n_neighbors=2, weights='uniform')
z = imputer.fit_transform(x)

NameError: name 'KNNImputer' is not defined

In [4]:
imputer = KNNImputer(missing_values=7, n_neighbors=2, weights='uniform')

NameError: name 'KNNImputer' is not defined