### Find total missing values in a dataset

In [7]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("WHO_obesityByCountry_2016.csv")
df.head()

    Unnamed: 0  Both.sexes  Male  Female
0  Afghanistan         4.5   2.7     6.2
1      Albania        22.3  21.9    22.8
2      Algeria        26.6  19.4    34.0
3      Andorra        28.0  27.9    28.1
4       Angola         6.8   3.5    10.0

In [8]:
# get the number of missing data points per column
missing_values_count = df.isnull().sum()

# how many total missing values do we have?
total_cells = np.product(df.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100

In [9]:
percent_missing

1.5384615384615385

------------------

In [6]:
df.shape

(195, 4)

In [10]:
missing_values_count = df.isnull().sum()
missing_values_count

Unnamed: 0    0
Both.sexes    4
Male          4
Female        4
dtype: int64

In [12]:
total_missing = missing_values_count.sum()
total_missing

12

In [13]:
total_cells = np.product(df.shape)
total_cells

780

--------------