In [1]:
# Find out your current working directory
import os
print(os.getcwd())

C:\Users\deepusuresh\Documents\Data Science\3. PANDAS\1. Data Frame

In [3]:
# Display all of the files found in your current working directory
print(os.listdir(os.getcwd()))

['.ipynb_checkpoints', '1. Data Frame_01.ipynb', '2. Read CSV_With Indexes.ipynb', '3. Creating DataFrames from different file formates.ipynb', '4. Read_Write_Excel_CSV.ipynb', '5. Data Frame_02.ipynb', '6. Inplace=True.ipynb', '7. Dataframe expand all columns.ipynb', '8. How to remove symbols.ipynb', '9. Header.ipynb', 'Comma Seperated.JPG', 'DF.JPG', 'Drinks.JPG', 'header.xlsx', 'image', 'IMDB-Movie-Data.csv', 'purchases.csv', 'purchases_index.csv', 'Separated.JPG', 'Stocks data.1.csv', 'stocks data.JPG', 'Untitled.ipynb', 'weather_data.csv', 'winequality-red.csv']

os.chdir()

-----------

- The characters ‘..’ are used to move to a parent directory in a relative path.

In [7]:
import pandas as pd

In [5]:
# Path of the file to read
fifa_filepath = "../1. Data Frame/purchases.csv"

In [8]:
# Read the file into a variable fifa_data
fifa_data = pd.read_csv(fifa_filepath)
fifa_data.head()

     Name Unnamed: 1  apples  oranges
0    Jahn       Male       3        0
1  Andria     Female       2        3
2    Lily     Female       0        7
3   David       Male       1        2