### How to convert a column in a Pandas DataFrame to a NumPy array in Python
- Converting a column in a Pandas DataFrame to a NumPy array generates an array with all the values in the column.

In [2]:
import pandas as pd

In [3]:
a_dataframe = pd.DataFrame({'Letters': ["a", "b", "c"], "Numbers": [1, 2, 3]})
a_dataframe

  Letters  Numbers
0       a        1
1       b        2
2       c        3

In [4]:
number_column = a_dataframe.loc[:,'Numbers']

In [5]:
numbers = number_column.values
numbers

array([1, 2, 3], dtype=int64)

-----------------------------------------