<h2 style="color:green" align="center"> Different ways of creating DataFrame </h2>


      1. Reading data from CSVs
      
      2. Using EXCEL
      
      3. Dictionary
      
      4. From list of tuples
      
      5. From list of dictionary
      
      6. Reading data from JSON
      
      7. Reading data from a SQL database
      
      8. Converting back to a CSV, JSON, or SQL

In [2]:
import pandas as pd

## 1. Using CSV

In [14]:
df = pd.read_csv("C:/Users/deepusuresh/Documents/Data Science/06. Data Sets/weather_data.csv")
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow

url = "C:/Users/deepusuresh/Documents/Data Science/06. Data Sets"

df = pd.read_csv('weather_data.csv')
df

## 2. Using EXCEL

In [12]:
df = pd.read_excel("C:/Users/deepusuresh/Documents/Data Science/06. Data Sets/weather_data.xlsx","Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

-------------------------------------------------------------------------------------------------------------------------------

#### If Excel have multiple sheets

url = 'C:/Users/deepusuresh/Documents/Data Science/01. Python/1. Practice/2. PANDAS/15. Pandas_All Commands'

df = pd.read_excel("Pandas.xlsx")
df.head(5)

df = pd.read_excel("Pandas.xlsx","Q1 Sales")
df.head(5)

df = pd.read_excel("Pandas.xlsx","Q4 Sales")
df.head(5)

## 3. From python dictionary

In [15]:
weather_data = {
    'day':['1/1/2017','1/2/2017','1/3/2017'],
    'temperature':[32,35,28],
    'windspeed':[6,7,2],
    'event':['Rain','Sunny','Snow']
}

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## 4. From list of tuples

In [16]:
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow'),
]

df = pd.DataFrame(weather_data,columns=["day","temperature","windspeed","event"])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## 5. From list of dictionary

In [17]:
weather_data = [
    {'day':'1/1/2017','temperature':32,'windspeed':6,'event':'Rain'},
    {'day':'1/2/2017','temperature':35,'windspeed':7,'event':'Sunny'},
    {'day':'1/3/2017','temperature':28,'windspeed':2,'event':'Snow'},
]

df = pd.DataFrame(weather_data)
df

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2

## 6. Reading data from JSON

If you have a JSON file — which is essentially a stored Python dict — pandas can read this just as easily:

df = pd.read_json('purchases.json')
df

## 7. Reading data from a SQL database

!pip install pysqlite3

sqlite3 is used to create a connection to a database which we can then use to generate a DataFrame through a SELECT query.

import sqlite3

con = sqlite3.connect("database.db")

## 8. Converting back to a CSV, JSON, or SQL

df.to_csv('new_purchases.csv')

df.to_json('new_purchases.json')

df.to_sql('new_purchases', con)