# Excercise

# https://www.youtube.com/watch?v=F6kmIpWWEdU

# ------------------------------------------------------------------------

# Dataframe by using PANDAS

In [2]:
import pandas as pd

df = pd.read_csv("C:/Users/deepusuresh/Documents/Data Science/06. Data Sets/Pandas.csv")
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

In [4]:
df.shape

(6, 4)

In [5]:
rows, columns = df.shape

In [6]:
rows

6

In [7]:
columns

4

In [8]:
df.head()

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain

In [9]:
df.head(2)

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny

In [10]:
df.tail()

          day  temperature  windspeed  event
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

# Rows / Slicing

In [11]:
df[2:5]       # prints from row 2 to 4 but not row 5

          day  temperature  windspeed event
2  03-01-2017           28          2  Snow
3  04-01-2017           24          7  Snow
4  05-01-2017           32          4  Rain

In [12]:
df[:]         # if i want to print everything df[:] or df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

In [13]:
df         # if i want to print everything df[:] or df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

# COLUMNS

In [14]:
df.columns          # prints the total number of columns in the set

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [16]:
df.day               # to print the individual content of the column;
                     # code can either by df.day (or) df['day']

0    01-01-2017
1    02-01-2017
2    03-01-2017
3    04-01-2017
4    05-01-2017
5    06-01-2017
Name: day, dtype: object

In [18]:
df['day']              # to print the individual content of the column;
                       # code can either by df.day (or) df['day']

0    01-01-2017
1    02-01-2017
2    03-01-2017
3    04-01-2017
4    05-01-2017
5    06-01-2017
Name: day, dtype: object

In [19]:
df.event             # to print the individual content of the column;
                     # code can either by df.event (or) df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [20]:
df['event']           # to print the individual content of the column;
                      # code can either by df.event (or) df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [21]:
type(df['event'])

pandas.core.series.Series

In [22]:
df                 # prints all columns

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

In [25]:
df[['event','day']]                           # if dataframe having too many columns & doing for analysis
                                              # you want to restrict only few columns

   event         day
0   Rain  01-01-2017
1  Sunny  02-01-2017
2   Snow  03-01-2017
3   Snow  04-01-2017
4   Rain  05-01-2017
5  Sunny  06-01-2017

In [24]:
df[['event','day','temperature']]             # if dataframe having too many columns & doing for analysis
                                              # you want to restrict only few columns

   event         day  temperature
0   Rain  01-01-2017           32
1  Sunny  02-01-2017           35
2   Snow  03-01-2017           28
3   Snow  04-01-2017           24
4   Rain  05-01-2017           32
5  Sunny  06-01-2017           32

# Operations

In [26]:
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

In [27]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    32
Name: temperature, dtype: int64

In [28]:
df['temperature'].max()

35

In [29]:
df['temperature'].min()

24

In [30]:
df['temperature'].mean()

30.5

In [31]:
df['temperature'].std()

3.8858718455450894

In [32]:
df.describe()           # prints statistics for your data set
                        # in data set only 'temperature' & 'windspeed' having integer values (output of stats only for these)

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [33]:
df[df.temperature>=32]

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

In [34]:
df[df.temperature==df.temperature.max()]

          day  temperature  windspeed  event
1  02-01-2017           35          7  Sunny

In [35]:
df[df.temperature==df['temperature'].max()]

          day  temperature  windspeed  event
1  02-01-2017           35          7  Sunny

In [36]:
df['day'][df.temperature==df['temperature'].max()]   # prints only day at which max temperature

1    02-01-2017
Name: day, dtype: object

In [37]:
df[['day','temperature']][df.temperature==df['temperature'].max()]

          day  temperature
1  02-01-2017           35

# Set Index

In [38]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [40]:
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

In [39]:
df.set_index('day')

            temperature  windspeed  event
day
01-01-2017           32          6   Rain
02-01-2017           35          7  Sunny
03-01-2017           28          2   Snow
04-01-2017           24          7   Snow
05-01-2017           32          4   Rain
06-01-2017           32          2  Sunny

In [41]:
df.loc['1/1/2017']

KeyError: '1/1/2017'

In [42]:
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

In [43]:
df.set_index('day',inplace=True)

In [46]:
df

            temperature  windspeed  event
day
01-01-2017           32          6   Rain
02-01-2017           35          7  Sunny
03-01-2017           28          2   Snow
04-01-2017           24          7   Snow
05-01-2017           32          4   Rain
06-01-2017           32          2  Sunny

In [48]:
df.loc['01-01-2017']

temperature      32
windspeed         6
event          Rain
Name: 01-01-2017, dtype: object

In [49]:
df.reset_index(inplace=True)
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

In [50]:
df.set_index('event',inplace=True)
df

              day  temperature  windspeed
event
Rain   01-01-2017           32          6
Sunny  02-01-2017           35          7
Snow   03-01-2017           28          2
Snow   04-01-2017           24          7
Rain   05-01-2017           32          4
Sunny  06-01-2017           32          2

In [51]:
df.loc['Snow']

              day  temperature  windspeed
event
Snow   03-01-2017           28          2
Snow   04-01-2017           24          7

In [ ]:
titanic[(titanic['embarked'].notnull())  & (titanic['pclass']==1.0)].head()

In [ ]:
titanic[titanic['embarked'].notnull() & (titanic['pclass']==1)]

In [ ]:
#to read the csv data into pandas dataframe
titanic = pd.read_csv('titanic.csv')
titanic_1 = titanic[titanic['embarked'].notnull()]
titanic_2 = titanic_1[titanic_1['pclass']==1.0]

In [ ]:
titanic[titanic['age']==max(titanic['age'])]
titanic[titanic['age']==min(titanic['age'])]

In [ ]:
titanic_1.sort_values(by='age',ascending=False).head(3)

In [ ]:
import pandas as pd
data = np.random.randing(0,2, size=(5,3))
col_names = ['sim_1', 'sim_2', sim_3']
index_list = list('abcde')
df = pd.DataFreame(data, index=index_list, columns=col_names)
titanic['age_in_months'] = 12*titanic['age']
titanic.describe
titanic.info
#select all rows here wmbarked is not null
titanic[titanic['embarked'].notnull()].head(3)
#titani's rows where embarked is not null and passengers in the first class..
#to read the csv data into pandas dataframe
titanic = pd.read_csv('titanic.csv')
My_titanic[(My_titanic['embarked'].notnull()) & (My_titanic['pclass']== 1.0)]
#oldest
titanic_1.sort_values(by='age', ascending=False).head(1)
#youngest
titanic_1.sort_values(by='age', ascending=False).tail(1)
titanic_1 = titanic[titanic['embarked'].notnull()]
titanic_2 = titanic_1[titanic_1['pclass']==1.0]