In [1]:
import pandas as pd

------------------------

In [3]:
df = pd.read_csv("streaming_stocks_data.csv", index_col=[0], parse_dates=[0])
df.head()

                           Close_Price  volume  scrip_id
timestamp
2020-08-03 09:15:00+05:30       100.40  173561        14
2020-08-03 09:16:00+05:30       100.65   74643        14
2020-08-03 09:17:00+05:30       100.60   58859        14
2020-08-03 09:18:00+05:30       100.65   30118        14
2020-08-03 09:19:00+05:30       100.60   49734        14

In [4]:
type(df)

pandas.core.frame.DataFrame

-------------------

### squeeze : bool, default False
- If the **parsed data** only contains **one column** then return a **Series.**

In [10]:
df1 = pd.read_csv("streaming_stocks_data_one.csv", index_col=[0], parse_dates=[0], squeeze=True)
df1.head()

timestamp
2020-08-03 09:15:00+05:30    100.40
2020-08-03 09:16:00+05:30    100.65
2020-08-03 09:17:00+05:30    100.60
2020-08-03 09:18:00+05:30    100.65
2020-08-03 09:19:00+05:30    100.60
Name: Close_Price, dtype: float64

In [11]:
type(df1)

pandas.core.series.Series

---------------------

In [12]:
series_values = df1.values
series_values

array([100.4 , 100.65, 100.6 , ..., 110.95, 110.65, 110.8 ])

In [13]:
type(series_values)

numpy.ndarray

------------------------

In [14]:
value = pd.DataFrame(series_values)

In [16]:
df2 = pd.concat([value, value.shift(1)], axis=1)
df2.head()

        0       0
0  100.40     NaN
1  100.65  100.40
2  100.60  100.65
3  100.65  100.60
4  100.60  100.65

In [17]:
df2.columns = ['Actual', 'Forecast']
df2.head()

   Actual  Forecast
0  100.40       NaN
1  100.65    100.40
2  100.60    100.65
3  100.65    100.60
4  100.60    100.65