<h2 style="color:green" align="left"> How to Access Columns by Name in Pandas (Python) </h2>

-------------------------------------------------------------------------------------------------------------------------------


https://www.geeksforgeeks.org/python-pandas-dataframe/

https://www.geeksforgeeks.org/dealing-with-rows-and-columns-in-pandas-dataframe/     ## Dealing with Rows and Columns

https://www.geeksforgeeks.org/indexing-and-selecting-data-with-pandas/               ## Indexing and Selecting Data with Pandas

https://www.novixys.com/blog/pandas-tutorial-select-dataframe/                       ## Selecting Rows From a DataFrame

-------------------------------------------------------------------------------------------------------------------------------

https://www.youtube.com/c/DataDaft?sub_confirmation=1

https://morioh.com/p/0ec21e502cb7


#   A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

    We can perform basic operations on rows/columns like,
    
          1. Selecting
        
          2. Deleting
            
          3. Adding
        
          4. renaming


   mtcars["mpg"]

   mtcars.mpg
   
   mtcars[["mpg","cyl","hp"]]
   
   mtcars.loc[["Mazda RX4 Wag","Valiant", "Porsche 914-2"],["mpg","cyl","hp"]]
   
   mtcars.loc[mtcars.index[[2,6,26]],["mpg","cyl","hp"]]

-------------------------------------------------------------------------------------------------------------------------------

In [2]:
# importing pandas package
import pandas as pd

In [4]:
# making data frame from csv file

url = "C:/Users/deepusuresh/Documents/Data Science/01. Python/3. PANDAS/3. Rows and Columns/1. Accessing Columns"
data = pd.read_csv("nba.csv", index_col ="Name")
data.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [5]:
import statsmodels.api as sm #(To access mtcars dataset)
mtcars = sm.datasets.get_rdataset("mtcars", "datasets", cache=True).data
mtcars.head()

C:\Users\deepusuresh\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:49: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  data_klasses = (pandas.Series, pandas.DataFrame, pandas.Panel)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

<h2 style="color:blue" align="left"> 1) Selecting a single column </h2>

<h3 style="color:green" align="left"> a) Access a column with direct indexing </h3>

       In order to select a single column, we simply put the name of the column in-between the brackets

# Indexing and Selecting Data

Indexing a Dataframe using indexing operator [] :

        Indexing in pandas means simply selecting particular rows and columns of data from a DataFrame. Indexing could mean     
        selecting all the rows and some of the columns, some of the rows and all of the columns, or some of each of the rows 
        and columns.

Note: We’ll be using nba.csv file in below examples.

In [3]:
# retrieving columns by indexing operator

first = data["Age"]

print(first.head())

Name
Avery Bradley    25.0
Jae Crowder      25.0
John Holland     27.0
R.J. Hunter      22.0
Jonas Jerebko    29.0
Name: Age, dtype: float64

In [4]:
first = data[["Age"]]

print(first.head())

                Age
Name
Avery Bradley  25.0
Jae Crowder    25.0
John Holland   27.0
R.J. Hunter    22.0
Jonas Jerebko  29.0

![1. Accessing Columns](image/column_1.JPG)

In [6]:
mtcars["mpg"]

Mazda RX4              21.0
Mazda RX4 Wag          21.0
Datsun 710             22.8
Hornet 4 Drive         21.4
Hornet Sportabout      18.7
Valiant                18.1
Duster 360             14.3
Merc 240D              24.4
Merc 230               22.8
Merc 280               19.2
Merc 280C              17.8
Merc 450SE             16.4
Merc 450SL             17.3
Merc 450SLC            15.2
Cadillac Fleetwood     10.4
Lincoln Continental    10.4
Chrysler Imperial      14.7
Fiat 128               32.4
Honda Civic            30.4
Toyota Corolla         33.9
Toyota Corona          21.5
Dodge Challenger       15.5
AMC Javelin            15.2
Camaro Z28             13.3
Pontiac Firebird       19.2
Fiat X1-9              27.3
Porsche 914-2          26.0
Lotus Europa           30.4
Ford Pantera L         15.8
Ferrari Dino           19.7
Maserati Bora          15.0
Volvo 142E             21.4
Name: mpg, dtype: float64

<h3 style="color:green" align="left"> b) Access a column with direct dot indexing </h3>

In [7]:
mtcars.mpg

Mazda RX4              21.0
Mazda RX4 Wag          21.0
Datsun 710             22.8
Hornet 4 Drive         21.4
Hornet Sportabout      18.7
Valiant                18.1
Duster 360             14.3
Merc 240D              24.4
Merc 230               22.8
Merc 280               19.2
Merc 280C              17.8
Merc 450SE             16.4
Merc 450SL             17.3
Merc 450SLC            15.2
Cadillac Fleetwood     10.4
Lincoln Continental    10.4
Chrysler Imperial      14.7
Fiat 128               32.4
Honda Civic            30.4
Toyota Corolla         33.9
Toyota Corona          21.5
Dodge Challenger       15.5
AMC Javelin            15.2
Camaro Z28             13.3
Pontiac Firebird       19.2
Fiat X1-9              27.3
Porsche 914-2          26.0
Lotus Europa           30.4
Ford Pantera L         15.8
Ferrari Dino           19.7
Maserati Bora          15.0
Volvo 142E             21.4
Name: mpg, dtype: float64

-------------------------------------------------------------------------------------------------------------------------------

<h2 style="color:blue" align="left"> 2) Selecting multiple columns </h2>

<h3 style="color:green" align="left"> a) Access multiple columns by name </h3>

# In Order to select a column in Pandas DataFrame, we can either access the columns by calling them by their columns name.

In [8]:
mtcars[["mpg","cyl","hp"]]

                      mpg  cyl   hp
Mazda RX4            21.0    6  110
Mazda RX4 Wag        21.0    6  110
Datsun 710           22.8    4   93
Hornet 4 Drive       21.4    6  110
Hornet Sportabout    18.7    8  175
Valiant              18.1    6  105
Duster 360           14.3    8  245
Merc 240D            24.4    4   62
Merc 230             22.8    4   95
Merc 280             19.2    6  123
Merc 280C            17.8    6  123
Merc 450SE           16.4    8  180
Merc 450SL           17.3    8  180
Merc 450SLC          15.2    8  180
Cadillac Fleetwood   10.4    8  205
Lincoln Continental  10.4    8  215
Chrysler Imperial    14.7    8  230
Fiat 128             32.4    4   66
Honda Civic          30.4    4   52
Toyota Corolla       33.9    4   65
Toyota Corona        21.5    4   97
Dodge Challenger     15.5    8  150
AMC Javelin          15.2    8  150
Camaro Z28           13.3    8  245
Pontiac Firebird     19.2    8  175
Fiat X1-9            27.3    4   66
Porsche 914-2        26.0    4   91
Lotus Europa         30.4    4  113
Ford Pantera L       15.8    8  264
Ferrari Dino         19.7    6  175
Maserati Bora        15.0    8  335
Volvo 142E           21.4    4  109

<h3 style="color:green" align="left"> b) Access multiple columns by name with a subset of rows by row name </h3>

In [9]:
mtcars.loc[["Mazda RX4 Wag","Valiant", "Porsche 914-2"],["mpg","cyl","hp"]]

                mpg  cyl   hp
Mazda RX4 Wag  21.0    6  110
Valiant        18.1    6  105
Porsche 914-2  26.0    4   91

<h3 style="color:green" align="left"> c) Access multiple columns by name with a subset of rows by row index </h3>

In [10]:
mtcars.loc[mtcars.index[[2,6,26]],["mpg","cyl","hp"]]

                mpg  cyl   hp
Datsun 710     22.8    4   93
Duster 360     14.3    8  245
Porsche 914-2  26.0    4   91