<h2 style="color:green" align="left"> Selecting Rows From a DataFrame </h2>

---------------------------------------

https://www.geeksforgeeks.org/python-pandas-dataframe/

https://www.geeksforgeeks.org/dealing-with-rows-and-columns-in-pandas-dataframe/     ## Dealing with Rows and Columns

https://www.geeksforgeeks.org/indexing-and-selecting-data-with-pandas/               ## Indexing and Selecting Data with Pandas

https://www.novixys.com/blog/pandas-tutorial-select-dataframe/                       ## Selecting Rows From a DataFrame

----------------------------

<h3 style="color:green" align="left"> i) Selecting a single row </h3>

### a. Indexing a DataFrame using .loc[ ] :


#  Pandas provide a unique method to retrieve rows from a Data frame.

         i). DataFrame.loc[] method is used to retrieve rows from Pandas DataFrame.
   
        ii). Rows can also be selected by passing integer location to an iloc[] function.

In [1]:
# importing pandas package
import pandas as pd

In [2]:
# making data frame from csv file

url = "C:/Users/deepusuresh/Documents/Data Science/01. Python/3. PANDAS/3. Rows and Columns/1. Accessing Columns"
data = pd.read_csv("nba.csv", index_col ="Name")
data.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [3]:
# retrieving row by loc method

first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]
  
print(first, "\n\n\n", second)

Team        Boston Celtics
Number                   0
Position                PG
Age                     25
Height                 6-2
Weight                 180
College              Texas
Salary         7.73034e+06
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height                 6-5
Weight                 185
College      Georgia State
Salary         1.14864e+06
Name: R.J. Hunter, dtype: object

### b. Indexing a DataFrame using .iloc[ ] :

#  This function allows us to retrieve rows and columns by position.

   In order to do that, weâ€™ll need to specify the positions of the rows that we want, and the positions of the columns that we 
   
   want as well. The df.iloc indexer is very similar to df.loc but only uses integer locations to make its selections.

In [4]:
# retrieving rows by iloc method 

row2 = data.iloc[3] 

print(row2)

Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height                 6-5
Weight                 185
College      Georgia State
Salary         1.14864e+06
Name: R.J. Hunter, dtype: object

Dataframe.[ ] ; This function also known as indexing operator

Dataframe.loc[ ] : This function is used for labels.

Dataframe.iloc[ ] : This function is used for positions or integer based

Dataframe.ix[] : This function is used for both label and integer based

<h3 style="color:green" align="left"> ii) Selecting multiple rows </h3>

### a. Indexing a DataFrame using .loc[ ] :

In [5]:
# retrieving multiple rows by loc method 

first = data.loc[["Avery Bradley", "R.J. Hunter"]] 
  
print(first)

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0

                     College     Salary
Name
Avery Bradley          Texas  7730337.0
R.J. Hunter    Georgia State  1148640.0

### b. Indexing a DataFrame using .iloc[ ] :

In [6]:
# retrieving multiple rows by iloc method

row2 = data.iloc [[3, 5, 7]] 
row2

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0

### 3. Selecting two rows and three columns

Dataframe.loc[["row1", "row2"], ["column1", "column2", "column3"]]

In [7]:
# retrieving two rows and three columns by loc method

first = data.loc[["Avery Bradley", "R.J. Hunter"],["Team", "Number", "Position"]] 
first

                         Team  Number Position
Name
Avery Bradley  Boston Celtics     0.0       PG
R.J. Hunter    Boston Celtics    28.0       SG

### 4. Selecting all of the rows and some columns

Dataframe.loc[[:, ["column1", "column2", "column3"]]

In [8]:
# retrieving all rows and some columns by loc method

first = data.loc[:, ["Team", "Number", "Position"]]
first.head(10)

                         Team  Number Position
Name
Avery Bradley  Boston Celtics     0.0       PG
Jae Crowder    Boston Celtics    99.0       SF
John Holland   Boston Celtics    30.0       SG
R.J. Hunter    Boston Celtics    28.0       SG
Jonas Jerebko  Boston Celtics     8.0       PF
Amir Johnson   Boston Celtics    90.0       PF
Jordan Mickey  Boston Celtics    55.0       PF
Kelly Olynyk   Boston Celtics    41.0        C
Terry Rozier   Boston Celtics    12.0       PG
Marcus Smart   Boston Celtics    36.0       PG

### 5. Selecting two rows and two columns

In [9]:
# retrieving two rows and two columns by iloc method

row2 = data.iloc [[3, 4], [1, 2]] 
row2

               Number Position
Name
R.J. Hunter      28.0       SG
Jonas Jerebko     8.0       PF

### 6. Selecting all the rows and a some columns

In [10]:
# retrieving all rows and some columns by iloc method

row2 = data.iloc [:, [1, 2]] 
row2.head(10)

               Number Position
Name
Avery Bradley     0.0       PG
Jae Crowder      99.0       SF
John Holland     30.0       SG
R.J. Hunter      28.0       SG
Jonas Jerebko     8.0       PF
Amir Johnson     90.0       PF
Jordan Mickey    55.0       PF
Kelly Olynyk     41.0        C
Terry Rozier     12.0       PG
Marcus Smart     36.0       PG