### Checking for missing values using isnull()

In [1]:
# importing pandas as pd 
import pandas as pd 
  
# importing numpy as np 
import numpy as np

In [2]:
# dictionary of lists 
dict = {'First Score':[100, 90, np.nan, 95], 
        'Second Score': [30, 45, 56, np.nan], 
        'Third Score':[np.nan, 40, 80, 98]}

In [4]:
# creating a dataframe from list 
df = pd.DataFrame(dict)
df

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [5]:
# using isnull() function   
df.isnull()

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False