- create a **Simple Moving Average** crossover strategy

![22. Moving Average](image/1.JPG)

- Here, the **blue line** is the **stock price**, the **red line** is the **20 moving average** and the **yellow line** is the **50 moving average**.


- The idea is that when the **20 moving average**, which reacts faster, **moves above the 50 moving average**, it means the price might be **trending up**, and we may want to **invest**.


- Conversely, if the **20 moving average** falls **below the 50 moving average**, this signals maybe that the price is **trending down**, and that we might want to either **sell or investment or even short sell the company**.

---------------------------

https://www.youtube.com/watch?v=DzzZGbiZenw&t=259s

In [6]:
import quandl
import numpy as np
import matplotlib.pyplot as plt

In [5]:
amazon = quandl.get("WIKI/AMZN", start_date="2017-01-01", end_date="2018-01-01")
amazon.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2017-01-03,757.92,758.7595,747.7000,753.67,3521066.0,0.0,1.0,757.92,758.7595,747.7000,753.67,3521066.0
2017-01-04,758.39,759.6800,754.2000,757.18,2510526.0,0.0,1.0,758.39,759.6800,754.2000,757.18,2510526.0
2017-01-05,761.55,782.3999,760.2557,780.45,5830068.0,0.0,1.0,761.55,782.3999,760.2557,780.45,5830068.0
2017-01-06,782.36,799.4400,778.4800,795.99,5986234.0,0.0,1.0,782.36,799.4400,778.4800,795.99,5986234.0
2017-01-09,798.00,801.7742,791.7700,796.92,3446109.0,0.0,1.0,798.00,801.7742,791.7700,796.92,3446109.0

In [7]:
amazon_daily_close = amazon[["Adj. Close"]]
amazon_daily_pct_c = amazon_daily_close.pct_change()
amazon_daily_pct_c.fillna(0, inplace=True)
amazon_daily_pct_c.head()

            Adj. Close
Date
2017-01-03    0.000000
2017-01-04    0.004657
2017-01-05    0.030732
2017-01-06    0.019912
2017-01-09    0.001168