### 1. Merging

### 2. Joining

### 3. Concatination

-------------------------------------------------------------------------------------------------------------------------------

<h3 style="color:green" align="left"> 1. Merging </h3>

#  In merging, you can merge two data frames to form a single data frame.

   You can also decide which columns you want to make common.

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({ "HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2001,2002,2003,2004])
df2 = pd.DataFrame({ "HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2005,2006,2007,2008])

In [3]:
merged = pd.merge(df1,df2)
merged

   HPI  Int_Rate  IND_GDP
0   80         2       50
1   90         1       45
2   70         2       45
3   60         3       67

# you can also specify the column which you want to make common.

  For example, I want the “HPI” column to be common and for everything else, I want separate columns.

In [4]:
merged_common = pd.merge(df1,df2,on ="HPI")
merged_common

   HPI  Int_Rate_x  IND_GDP_x  Int_Rate_y  IND_GDP_y
0   80           2         50           2         50
1   90           1         45           1         45
2   70           2         45           2         45
3   60           3         67           3         67

-------------------------------------------------------------------------------------------------------------------------------

<h3 style="color:green" align="left"> 2. Joining </h3>

#  convenient method to combine two differently indexed dataframes into a single result dataframe.

   This is quite similar to the “merge” operation, except the joining operation will be on the
   
   “index” instead of  the “columns”.

In [10]:
df3 = pd.DataFrame({"Int_Rate":[2,1,2,3], "IND_GDP":[50,45,45,67]}, index=[2001,2002,2003,2004])
df4 = pd.DataFrame({"Low_Tier_HPI":[50,45,67,34],"Unemployment":[1,3,5,6]}, index=[2001,2003,2004,2004])

In [11]:
joined = df3.join(df4)
joined

      Int_Rate  IND_GDP  Low_Tier_HPI  Unemployment
2001         2       50          50.0           1.0
2002         1       45           NaN           NaN
2003         2       45          45.0           3.0
2004         3       67          67.0           5.0
2004         3       67          34.0           6.0

-------------------------------------------------------------------------------------------------------------------------------

<h3 style="color:green" align="left"> 3. Concatenation </h3>

#  Concatenation basically glues the dataframes together. You can select the dimension on which you want to concatenate.

In [13]:
df5 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2001,2002,2003,2004])
df6 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2005,2006,2007,2008])

In [14]:
concat = pd.concat([df5,df6])
concat

      HPI  Int_Rate  IND_GDP
2001   80         2       50
2002   90         1       45
2003   70         2       45
2004   60         3       67
2005   80         2       50
2006   90         1       45
2007   70         2       45
2008   60         3       67

#  axis=1 in order to join, merge or cancatenate along the columns

In [17]:
concat = pd.concat([df5,df6],axis=1)
concat

       HPI  Int_Rate  IND_GDP   HPI  Int_Rate  IND_GDP
2001  80.0       2.0     50.0   NaN       NaN      NaN
2002  90.0       1.0     45.0   NaN       NaN      NaN
2003  70.0       2.0     45.0   NaN       NaN      NaN
2004  60.0       3.0     67.0   NaN       NaN      NaN
2005   NaN       NaN      NaN  80.0       2.0     50.0
2006   NaN       NaN      NaN  90.0       1.0     45.0
2007   NaN       NaN      NaN  70.0       2.0     45.0
2008   NaN       NaN      NaN  60.0       3.0     67.0