## Pandas : How to shuffle a DataFrame rows
- Let us see how to shuffle the rows of a DataFrame.

- We will be using the **sample() method** of the pandas module to to **randomly shuffle DataFrame rows** in Pandas.

### Algorithm :

 - Import the pandas and numpy modules.
 - Create a DataFrame.
 - Shuffle the **rows of the DataFrame** using the **sample()** method with the parameter **frac as 1,** it determines what fraction of total instances need to be returned.
 - Print the original and the shuffled DataFrames.

-------------------

In [1]:
# import the modules 
import pandas as pd 
import numpy as np

In [2]:
# create a DataFrame 
ODI_runs = {'name': ['Tendulkar', 'Sangakkara', 'Ponting', 
                      'Jayasurya', 'Jayawardene', 'Kohli', 
                      'Haq', 'Kallis', 'Ganguly', 'Dravid'], 
            'runs': [18426, 14234, 13704, 13430, 12650, 
                     11867, 11739, 11579, 11363, 10889]} 
df = pd.DataFrame(ODI_runs)

In [3]:
# print the original DataFrame 
print("Original DataFrame :") 
print(df)

Original DataFrame :
          name   runs
0    Tendulkar  18426
1   Sangakkara  14234
2      Ponting  13704
3    Jayasurya  13430
4  Jayawardene  12650
5        Kohli  11867
6          Haq  11739
7       Kallis  11579
8      Ganguly  11363
9       Dravid  10889

In [4]:
# shuffle the DataFrame rows 
df = df.sample(frac = 1)

In [5]:
# print the shuffled DataFrame 
print("\nShuffled DataFrame:") 
print(df)

Shuffled DataFrame:
          name   runs
0    Tendulkar  18426
5        Kohli  11867
9       Dravid  10889
8      Ganguly  11363
4  Jayawardene  12650
6          Haq  11739
2      Ponting  13704
3    Jayasurya  13430
1   Sangakkara  14234
7       Kallis  11579

-----------------