<h1 style="color:green" align="center"> DataFrame </h1>

https://www.shanelynn.ie/using-pandas-dataframe-creating-editing-viewing-data-in-python/

Creating Pandas DataFrames :
    
    1. Manually (List / Dictionary)
    
    2. CSV
    
# Using Python dictionaries and lists to create DataFrames only works for small datasets that you can type out manually.

A DataFrame is a table. It contains an array of individual entries, each of which has a certain value.
Each entry corresponds to a row (or record) and a column.

In [2]:
import pandas as pd

-------------------------------------------------------------------------------------------------------------------------------

### 1. Creating a dataframe using List

-------------------------------------------------------------------------------------------------------------------------------

In [2]:
# list of strings

list = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']
 
# Calling DataFrame constructor on list

df = pd.DataFrame(list)
print(df)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

-------------------------------------------------------------------------------------------------------------------------------

### 2. Creating DataFrame from dictionary of ndarray / lists

-------------------------------------------------------------------------------------------------------------------------------

In [4]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [5]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [6]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

-------------------------------------------------------------------------------------------------------------------------------

In [3]:
# intialise data of lists.

data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [4]:
# Define a dictionary containing employee data

data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame

df = pd.DataFrame(data)
df

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

In [3]:
# You can ceate a database using a dictionary of lists.
# Each column is a dictionary key and the key becomes the column name.
# All the lists need to be the same length, and these become the rows.

new_dataframe = pd.DataFrame(
{
    "column_1": [1,2,3,4,5],
    "another_column" : ['this','column', 'has', 'strings', 'inside!'],
    "float_column" : [0.1, 0.5, 33, 48, 42.5558],
    "binary_solo" : [True, False, True, True, False]
}
)

# you can look at your new dataframe in Jupyter, by simply typing it's name:

new_dataframe

   column_1 another_column  float_column  binary_solo
0         1           this        0.1000         True
1         2         column        0.5000        False
2         3            has       33.0000         True
3         4        strings       48.0000         True
4         5        inside!       42.5558        False

-------------------------------------------------------------------------------------------------------------------------------

In [5]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

In [6]:
purchases = pd.DataFrame(data)

purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

-------------------------------------------------------------------------------------------------------------------------------