### Dataset Slicing by
### 1. Rows
### 2. Columns

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/deepusuresh/Documents/Data Science/08. Data Sets/Pandas.csv")
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

<h3 style="color:blue" align="left"> Rows Slicing </h3>

In [3]:
df[2:5]       # prints from row 2 to 4 but not row 5

          day  temperature  windspeed event
2  03-01-2017           28          2  Snow
3  04-01-2017           24          7  Snow
4  05-01-2017           32          4  Rain

In [4]:
df[:]         # if i want to print everything df[:] or df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny

<h3 style="color:blue" align="left"> Columns Slicing </h3>

In [5]:
df.columns          # prints the total number of columns in the Dataset

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

# to print the individual content of the column;

# code can either by

      df.day (or) df['day']

In [6]:
df.day

0    01-01-2017
1    02-01-2017
2    03-01-2017
3    04-01-2017
4    05-01-2017
5    06-01-2017
Name: day, dtype: object

In [7]:
df['day']

0    01-01-2017
1    02-01-2017
2    03-01-2017
3    04-01-2017
4    05-01-2017
5    06-01-2017
Name: day, dtype: object

In [8]:
df[['event','day']]

   event         day
0   Rain  01-01-2017
1  Sunny  02-01-2017
2   Snow  03-01-2017
3   Snow  04-01-2017
4   Rain  05-01-2017
5  Sunny  06-01-2017

In [9]:
df[['event','day','temperature']]

   event         day  temperature
0   Rain  01-01-2017           32
1  Sunny  02-01-2017           35
2   Snow  03-01-2017           28
3   Snow  04-01-2017           24
4   Rain  05-01-2017           32
5  Sunny  06-01-2017           32