- https://www.youtube.com/watch?v=RehA-5OjTN4

-------------

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Datasets/No-show-Issue-300k.csv.zip", sep=";")
df.head()

   Age Gender AppointmentRegistration  ... Tuberculosis Sms_Reminder AwaitingTime
0   17      F    2014-03-26T14:11:55Z  ...            0            1          -14
1   21      F    2014-04-09T08:57:02Z  ...            0            0           -8
2   61      F    2015-10-07T07:26:45Z  ...            0            0           -1
3   55      F    2015-11-13T07:19:33Z  ...            0            1           -4
4    9      F    2014-05-06T09:06:16Z  ...            0            1          -37

[5 rows x 15 columns]

### **Encoding data**

### **pd.factorize()**

- If you are working with Machine Learning models, such categorical (text) data will do you no good. This data will need to be converted into a computer-readable format i.e. numbers. In technical terms, this is called encoding.

- Pandas allows a very simple method for encoding such categorical variables.

In [ ]:
# encoding categorical variables
df["No-show-labels"] = pd.factorize(df["Status"])[0]

df.head()

   Age Gender  ... AwaitingTime No-show-labels
0   17      F  ...          -14              0
1   21      F  ...           -8              1
2   61      F  ...           -1              0
3   55      F  ...           -4              0
4    9      F  ...          -37              1

[5 rows x 16 columns]

- The **pd.factorise()** function simply **maps** all the unique values from the **“Status”** column to **integer representation**. Now the computer understands that 0 means No and 1 means Yes.

In [ ]:
df["No-show-labels"].value_counts()

0    209312
1     90688
Name: No-show-labels, dtype: int64

### **Label Encoding**

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()
df['Status-le'] = le.fit_transform(df['Status'])

In [ ]:
df.head()

   Age Gender AppointmentRegistration  ... AwaitingTime No-show-labels Status-le
0   17      F    2014-03-26T14:11:55Z  ...          -14              0         1
1   21      F    2014-04-09T08:57:02Z  ...           -8              1         0
2   61      F    2015-10-07T07:26:45Z  ...           -1              0         1
3   55      F    2015-11-13T07:19:33Z  ...           -4              0         1
4    9      F    2014-05-06T09:06:16Z  ...          -37              1         0

[5 rows x 17 columns]