<h2 style="color:green" align="center"> Missing Values </h2>

         NaN stands for "not a number"
    
         isnull()
        
         notnull()
            
         dropna() 
        
         fillna()

In [3]:
import pandas as pd

In [6]:
cities = {"London":    8615246,
          "Berlin":    3562166, 
          "Madrid":    3165235, 
          "Rome":      2874038, 
          "Paris":     2273305, 
          "Vienna":    1805681, 
          "Bucharest": 1803425, 
          "Hamburg":   1760433,
          "Budapest":  1754000,
          "Warsaw":    1740119,
          "Barcelona": 1602386,
          "Munich":    1493900,
          "Milan":     1350680}

city_series = pd.Series(cities)
print(city_series)

London       8615246
Berlin       3562166
Madrid       3165235
Rome         2874038
Paris        2273305
Vienna       1805681
Bucharest    1803425
Hamburg      1760433
Budapest     1754000
Warsaw       1740119
Barcelona    1602386
Munich       1493900
Milan        1350680
dtype: int64

In [7]:
my_cities = ["London", "Paris", "Zurich", "Berlin", "Stuttgart", "Hamburg"]

my_city_series = pd.Series(cities,index=my_cities)
my_city_series

London       8615246.0
Paris        2273305.0
Zurich             NaN
Berlin       3562166.0
Stuttgart          NaN
Hamburg      1760433.0
dtype: float64

In [8]:
my_cities = ["London", "Paris", "Berlin", "Hamburg"]

my_city_series = pd.Series(cities, index=my_cities)
my_city_series

London     8615246
Paris      2273305
Berlin     3562166
Hamburg    1760433
dtype: int64

### 1. The Methods isnull( ) and notnull( )

# NaN stands for "not a number". It can also be seen as meaning "missing" in our example.

In [14]:
my_cities = ["London", "Paris", "Zurich", "Berlin", "Stuttgart", "Hamburg"]

my_city_series = pd.Series(cities, index=my_cities)

In [15]:
my_city_series.isnull()

London       False
Paris        False
Zurich        True
Berlin       False
Stuttgart     True
Hamburg      False
dtype: bool

In [10]:
my_city_series.notnull()

London        True
Paris         True
Zurich       False
Berlin        True
Stuttgart    False
Hamburg       True
dtype: bool

### 2. Connection between NaN and None

# We get also a NaN, if a value in the dictionary has a None:

In [11]:
d = {"a":23, "b":45, "c":None, "d":0}
S = pd.Series(d)
S

a    23.0
b    45.0
c     NaN
d     0.0
dtype: float64

In [12]:
pd.isnull(S)

a    False
b    False
c     True
d    False
dtype: bool

In [13]:
pd.notnull(S)

a     True
b     True
c    False
d     True
dtype: bool

### 3. Filtering out Missing Data

# It's possible to filter out missing data with the Series method dropna.
  It returns a Series which consists only of non-null data:

In [16]:
my_city_series.dropna()

London     8615246.0
Paris      2273305.0
Berlin     3562166.0
Hamburg    1760433.0
dtype: float64

### 4. Filling in Missing Data

# In many cases you don't want to filter out missing data, but you want to fill in appropriate data for the empty gaps.
  A suitable method in many situations will be fillna:

In [18]:
my_city_series.fillna(0)

London       8615246.0
Paris        2273305.0
Zurich             0.0
Berlin       3562166.0
Stuttgart          0.0
Hamburg      1760433.0
dtype: float64

In [19]:
missing_cities = {"Stuttgart":597939, "Zurich":378884}
my_city_series.fillna(missing_cities)

London       8615246.0
Paris        2273305.0
Zurich        378884.0
Berlin       3562166.0
Stuttgart     597939.0
Hamburg      1760433.0
dtype: float64

cities = {"London":   8615246, 
          "Berlin":   3562166, 
          "Madrid":   3165235, 
          "Rome":     2874038, 
          "Paris":    2273305, 
          "Vienna":   1805681, 
          "Bucharest":1803425, 
          "Hamburg":  1760433,
          "Budapest": 1754000,
          "Warsaw":   1740119,
          "Barcelona":1602386,
          "Munich":   1493900,
          "Milan":    1350680}

my_cities = ["London", "Paris", "Zurich", "Berlin", 
             "Stuttgart", "Hamburg"]

my_city_series = pd.Series(cities, 
                           index=my_cities)
my_city_series = my_city_series.fillna(0).astype(int)
print(my_city_series)