In [1]:
import pandas as pd

In [3]:
drinks = pd.read_csv("http://bit.ly/drinksbycountry")
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [4]:
drinks["beer_servings"].mean()

106.16062176165804

#### specified nothing as decimal place

In [5]:
round(drinks["beer_servings"].mean())

106

#### specified decimal place as 0

In [6]:
round(drinks["beer_servings"].mean(), 0)

106.0

#### specified decimal place as 1

In [7]:
round(drinks["beer_servings"].mean(), 1)

106.2

--------------------

#### **Question 1**

In [ ]:
 # 4.5 rounds to 4
# 4.51 rounds to 5
 
round(4.576)

5

#### **Question 2**

In [ ]:
a = round(12.5)
b = round(11.5)
 
print(a)
print(b)
print(a-b)

12
12
0

#### **Question 3**

In [ ]:
 a = 100.1342
print(round(a, 3))

100.134

 #### **Question 4**

In [ ]:
a=14
b=3
print (round (a/b))

5

In [ ]:
14/3

4.666666666666667