1. Changing Index

2. Changing Column Header

![7_Change_Index and Column_Header](image/Index_01.JPG)

-------------------------------------------------------------------------------------------------------------------------------

### 1. Change the Index

#  how to change the index values in a dataframe

In [1]:
import pandas as pd

In [2]:
df= pd.DataFrame({"Day":[1,2,3,4], "Visitors":[200, 100,230,300], "Bounce_Rate":[20,45,60,10]})
df

   Day  Visitors  Bounce_Rate
0    1       200           20
1    2       100           45
2    3       230           60
3    4       300           10

#### The index value has been changed with respect to the “Day” column.

In [3]:
df= pd.DataFrame({"Day":[1,2,3,4], "Visitors":[200, 100,230,300], "Bounce_Rate":[20,45,60,10]})
df.set_index("Day", inplace=True)
df

     Visitors  Bounce_Rate
Day
1         200           20
2         100           45
3         230           60
4         300           10

--------------------------------------------------------------------------------------------------------------------------------

### 2. Change the Column Headers

-------------------------------------------------------------------------------------------------------------------------------

In [4]:
df = pd.DataFrame({"Day":[1,2,3,4], "Visitors":[200, 100,230,300], "Bounce_Rate":[20,45,60,10]})
df = df.rename(columns={"Visitors":"Users"})
df

   Day  Users  Bounce_Rate
0    1    200           20
1    2    100           45
2    3    230           60
3    4    300           10

-------------------------------------------------------------------------------------------------------------------------------

In [5]:
url = "C:/Users/deepusuresh/Documents/Data Science/09. Kaggle/1. COVID19 Global Forecasting"

covid_train = pd.read_csv("train.csv")
covid_train.head()

   Id Province_State Country_Region        Date  ConfirmedCases  Fatalities
0   1            NaN    Afghanistan  2020-01-22             0.0         0.0
1   2            NaN    Afghanistan  2020-01-23             0.0         0.0
2   3            NaN    Afghanistan  2020-01-24             0.0         0.0
3   4            NaN    Afghanistan  2020-01-25             0.0         0.0
4   5            NaN    Afghanistan  2020-01-26             0.0         0.0

### Rename the Columns of Train and Test Datasets

In [6]:
covid_train.rename(columns={'Country_Region':'Country'}, inplace=True)
covid_train.rename(columns={'Province_State':'State'}, inplace=True)

In [7]:
covid_train.head()

   Id State      Country        Date  ConfirmedCases  Fatalities
0   1   NaN  Afghanistan  2020-01-22             0.0         0.0
1   2   NaN  Afghanistan  2020-01-23             0.0         0.0
2   3   NaN  Afghanistan  2020-01-24             0.0         0.0
3   4   NaN  Afghanistan  2020-01-25             0.0         0.0
4   5   NaN  Afghanistan  2020-01-26             0.0         0.0