### 1. Drop

### 2. Loc

### 3. iLoc

In [1]:
import pandas as pd

<h3 style="color:blue" align="left"> Drop </h3>

In [6]:
df = pd.read_csv("C:/Users/deepusuresh/Documents/Data Science/05. ML/03. To GitHub/1. Linear Regression/1. Single Variable/2. Project 02_Canada Income_Single Variable/canada_per_capita_income.csv")
df.head()

   year  per_capita_income
0  1970        3399.299037
1  1971        3768.297935
2  1972        4251.175484
3  1973        4804.463248
4  1974        5576.514583

In [7]:
new_df = df.drop('per_capita_income',axis='columns')
new_df.head()

   year
0  1970
1  1971
2  1972
3  1973
4  1974