https://www.delftstack.com/howto/python-pandas/how-to-set-value-for-particular-cell-in-pandas-dataframe/

- Set value for particular cell in pandas DataFrame using **pandas.dataframe.at** method


- Set value for particular cell in pandas DataFrame using **Dataframe.set_value()** method


- Set value for particular cell in pandas DataFrame using **Dataframe.loc** method

- Use set_value() function to set the value in the dataframe at a particular index.

In [1]:
# importing pandas as pd 
import pandas as pd 
  
# Creating the dataframe  
df = pd.DataFrame({"A":[1, 5, 3, 4, 2], 
                   "B":[3, 2, 4, 3, 4],  
                   "C":[2, 2, 7, 3, 4], 
                   "D":[4, 3, 6, 12, 7]}) 
  
# Print the dataframe 
df

   A  B  C   D
0  1  3  2   4
1  5  2  2   3
2  3  4  7   6
3  4  3  3  12
4  2  4  4   7

In [18]:
# set value of a cell which has index label "2" and column label "B" 
df.at[2, 'B'] = 100
df

   A    B  C   D
0  1    3  2   4
1  5    2  2   3
2  3  100  7   6
3  4    3  3  12
4  2    4  4   7

In [19]:
# set value of a cell which has index label "8" and column label "8" 
df.at[8, 8] = 1000
df

     A      B    C     D       8
0  1.0    3.0  2.0   4.0     NaN
1  5.0    2.0  2.0   3.0     NaN
2  3.0  100.0  7.0   6.0     NaN
3  4.0    3.0  3.0  12.0     NaN
4  2.0    4.0  4.0   7.0     NaN
8  NaN    NaN  NaN   NaN  1000.0

------------------

In [4]:
# Creating the Series 
sr = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio', 'Moscow']) 
  
# Create the Index 
index_ = ['City 1', 'City 2', 'City 3', 'City 4', 'City 5', 'City 6'] 
  
# set the index 
sr.index = index_ 
  
# Print the series 
print(sr)

City 1    New York
City 2     Chicago
City 3     Toronto
City 4      Lisbon
City 5         Rio
City 6      Moscow
dtype: object

In [20]:
# set the value 
sr.at['City 2', 'Chicago'] = 'Dublin'
sr

ValueError: Not enough indexers for scalar access (setting)!

In [6]:
# Creating the Series 
sr = pd.Series([100, 25, 32, 118, 24, 65]) 
  
# Print the series 
print(sr)

0    100
1     25
2     32
3    118
4     24
5     65
dtype: int64

In [21]:
# set the value to 1000 of 
# the passed index label 
sr.at[3, 0] = 1000
sr

ValueError: Not enough indexers for scalar access (setting)!

----------

In [14]:
sample_df = pd.DataFrame([
                [10, 20, 30],
                [11, 21, 31],
                [15, 25, 35]],
                index=[0, 1, 2],
                columns=['Col1', 'Col2', 'Col3'])
sample_df

   Col1  Col2  Col3
0    10    20    30
1    11    21    31
2    15    25    35

In [16]:
sample_df.at[0, 'Col1'] = 99
sample_df.at[1, 'Col2'] = 99
sample_df.at[2, 'Col3'] = 99

sample_df

   Col1  Col2  Col3
0    99    20    30
1    11    99    31
2    15    25    99